{% extends 'base.html' %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead contact">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 style="color: white">Contact Us</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p style="color:rgb(255, 255, 255);text-size-adjust: 70px;">
                            <strong style="font-size: xx-large;"> Fell free to reach out to us any time. We are on reach 24/7
                            </strong></p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
            </div>
        </section>
{% endblock %}