{% extends 'base.html' %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 style="color: white">Welcome to Flex-Connectors</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p style="color:rgb(255, 255, 255);text-size-adjust: 70px;">
                            <strong style="font-size: xx-large;"> Land on new opportunities !!
                            </strong></p>
                        <a class="btn btn-primary btn-xl start" href="{% url 'dashboard' %}">Get started</a>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
