{% extends 'base.html' %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Welcome to Job Seeking App</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">
                            "Choose the job that you LOVE and you will never work a day in your life!! "</p>
                        <a class="btn btn-primary btn-xl" href="#about">Get started</a>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
