{% extends 'base.html' %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead services">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 style="color: white">Our Services</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p style="color:rgb(255, 255, 255);text-size-adjust: 70px;">
                            <strong style="font-size: xx-large;"> Jober App offers great services to both job seekers and employers.
                            </strong></p>
                    </div>
                </div>
            </div>
        </header>
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">At Your Service</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Service0</h3>
                            <p class="text-muted mb-0">This is description!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Service 1</h3>
                            <p class="text-muted mb-0">This is description.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Service2</h3>
                            <p class="text-muted mb-0">This is description!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Service3</h3>
                            <p class="text-muted mb-0">This is description</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}