{% load bootstrap4 %}
{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Job Seeking Web Application</title>
    <meta name="description" content="This is a web application that connect job seekers and employers">
    <meta name="keywords" content="employer, jobseeker, job">
    <meta name="robots" content="index, follow">
    <meta name="language" content="EN">
    <!-- Favicon-->
    <link rel="icon" href="https://res.cloudinary.com/dbos9xidr/image/upload/v1629441075/download_nnbkgy.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://res.cloudinary.com/dbos9xidr/raw/upload/v1628329565/styles_dsnjmm.css">
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock styles %}
    <script data-ad-client="pub-3547325651770976" async src="https://pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>

</head>

<body>
    {% include 'employers/navbar.html' %}

        {% block content %}
        {% endblock %}
    
</body>
        <!-- Footer-->
        <footer class="bg-light py-5 footer">
            <div class="text-center" style="color: #198754;">Copyright &copy; 2021 - Flex-Connectors</div>
        </footer>
        <script data-ad-client="ca-pub-6758015456156732" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- jquery scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/js/main.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>

            $(document).ready(function(){
                $("#messages").fadeOut(4000)
              })
            </script>
       
</html>