{% extends 'base.html' %} {%load static%} {% load crispy_forms_tags %} 
{% block content %}
<div class="container-fluid">
  <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="">
              <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                      <span class="ml-2">Dashboard</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                      <span class="ml-2">Jobseekers notification: <span class="text-info">{{available|length}}</span> </span>
                    </a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'employerDash'%}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                      <span class="ml-2">Jobseekers</span>
                    </a>
                  </li>
                  
                </ul>
          </div>
      </nav>
     
  </div>
</div>

      <div class="col-12 col-md-12  mb-4 mb-lg-0 col-lg-12 ">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <table class="table table-bordered">
              <center>
                <div class="image-holder my-4">
                  <img src="{{user.profile_picture.url}}" class="img-responsive img-fluid col-md-8" alt="">
                </div>
                
              </center>
              <tr>
                <th>First Name</th>
                <td>{{user.first_name}}</td>
              </tr>
              <tr>
                <th>Last Name</th>
                <td>{{user.last_name}}</td>
              </tr>
              <tr>
                <th>Username</th>
                <td>{{ user.username}}</td>
              </tr>
              <tr>
                <th>Phone</th>
                <td>{{user.phone}}</td>
              </tr>
              <tr>
                <th>Email Address</th>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <th>Location</th>
                <td>{{user.location}}</td>
              </tr>
              <tr>
                <th>Company</th>
                <td>{{user.employer.company_name}}</td>
              </tr>
            </table>
            <center>
              
              <a href="{% url 'update_employer'%}" class="btn btn-outline-success mb-5">Update Profile</a>
            </center>
            
            <!-- test begin -->
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>

      

      <!--  -->
    </main>
  </div>
</div>
<style>
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    z-index: 99;
  }

  @media (max-width: 767.98px) {
    .sidebar {
      top: 11.5rem;
      padding: 0;
    }
  }

  .navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 767.98px) {
    .navbar {
      top: 0;
      position: sticky;
      z-index: 999;
    }
  }

  .sidebar .nav-link {
    color: #333;
  }

  .sidebar .nav-link.active {
    color: #0d6efd;
  }
</style>

{% endblock %}
