{% extends 'admin/admin_base.html' %}

{% block content %}
<main>
  <div class="head">
    <center>
      <h5 class="title">ALL EMPLOYERS</h5>
    </center>
  </div>
    <table class="table table-bordered">
      <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Phone No</th>
        <th>Edit</th>
        <th>View</th>
        <th>Delete</th>
      </tr>
      {% if all_employers %}
      {% for employer in all_employers %}
      <tr>
        <td>{{employer.first_name}}</td>
        <td>{{employer.last_name}}</td>
        <td>{{employer.phone}}</td>
        <td><a href="{% url 'verify_employer' employer.id %}" class="btn btn-sm btn-primary"><i class="fas fa-pen-nib"></i> Verify</a></td>
        <td><a href="{% url 'employer_details' employer.id %}" class="btn btn-sm btn-success"><i class="fas fa-eye"></i> View</a></td>
        <td><a href="{% url 'delete_employer' employer.id %}" class="btn btn-sm  btn-danger"><i class="fas fa-trash-alt"></i> Delete</a></td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
</main>
{% endblock %}