{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="container card">
    <h1>Available Jobs Here</h1>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Description</th>
                <th>Tags</th>
                <th>Location</th>
                <th>Job_type</th>
                <th>Category</th>
                <th>Salary</th>
                <th>Experience</th>
                <th>Company_name</th>
                <th>Company_description</th>
                <th>published_date</th>
            </tr>
            {% for job in jobs %}
                <tr>
                    <td>{{j.name}}</td>
                    <td>{{j.title}}</td>
                    <td>{{j.description}}</td>
                    <td>{{j.tags}}</td>
                    <td>{{j.location}}</td>
                    <td>{{j.job_type}}</td>
                    <td>{{j.category}}</td>
                    <td>{{j.salary}}</td>
                    <td>{{j.experience}}</td>
                    <td>{{j.company_name}}</td>
                    <td>{{j.company_description}}</td>
                    <td>{{j.published_date}}</td</>>
                    <td><a href="{% url 'jobs' %}" class="btn btn-info btn-sm" type="submit">Apply</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
        {% for job in jobs %}
            {{j.name}}
        {% endfor %}
{% endblock %}