{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        {% if messages %}
        {% for message in messages %}
        <p class="text-center text-success"> {{ message }}</p>
          {% endfor %}
      {% endif %}
        <div class="" id="myContent">
          <form class="forms" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
              {% bootstrap_form port_form%}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-success" type="submit">Add</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{%endblock%}