{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% if messages %}
      {% for message in messages %}
      <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="alert text-center {{ message.tags }} alert-dismissible" role="alert" id="messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    {% endfor %}
  {% endif %}

      <div class="card">
        <form class="forms" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %} {% bootstrap_form upload_form %}
          <input type="submit" class="btn btn-primary" value="Upload" />
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{{ form.media }} {% endblock %}
