
.notification {
  background-color: #258DC0;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: white;
}

.unverified .badge3 {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 9px 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
.verified .badge2 {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 15px;
  border-radius: 50%;
  background-color: rgb(19, 185, 69);
  color: white;
}
.all-jobseekers .badge1 {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 10px;
  border-radius: 50%;
  background-color: rgb(2, 57, 177);
  color: rgb(126, 5, 5);
}
.seek{
    color: azure;
}
.profile_picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.circle{
  background-color: red;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid rgb(172, 11, 11);
  box-shadow: 0 0 10px rgb(172, 11, 11);
  margin-left: 100%;

}
.circle2{
  background-color: red;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid rgb(172, 11, 11);
  box-shadow: 0 0 10px rgb(172, 11, 11);
  margin-right: 200%;
}
.big{
  margin-bottom: 20px;
  background-color: midnightblue;
}
.session-container{
  width: 85%;
  padding: 50px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  border-radius: 10px;
}
.button{
  width: 100%;
}