body {
  background-color: #eeebe4;
}
.notification {
  background-color: #258DC0;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: rgb(255, 250, 250);
}

.unverified .badge3 {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 9px 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
.verified .badge2 {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 15px;
  border-radius: 50%;
  background-color: rgb(19, 185, 69);
  color: white;
}
.all-jobseekers .badge1 {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 10px;
  border-radius: 50%;
  background-color: rgb(2, 57, 177);
  color: rgb(126, 5, 5);
}
.seek{
    color: azure;
}
.profile_picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.masthead {
  background-image: url('../images/banner4-carousel1.jpg') !important;
}
#mainNav {
  background-color: white;
}

.navbar-brand, #mainNav ul li a {
  color: orangered!important;
  font-weight: 900 !important;
  text-transform: uppercase;
}
.fixed-top {
  position: unset !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.btn, .card {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.form-control {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 5vh !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
