{%extends "base.html"%}
{%load bootstrap4%}
{% block content %}
<div class="jumbotron mt-5"> 
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            {% if form.errors %}
            <p> Password or Username is incorrect </p>
            {% endif %}
            <div class="panel panel-light">

                <div class="panel-body card p-5 mb-5 mt-5" style="background-color: #BF2180;">
                    <h3 class="text-center" style="color:#BF2180;"><i class="fa fa-user-circle" style="font-size:48px;color:#000000"></i></h3>
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        <div class="form-group">
                          <br>
                          <br>
                            <input type="submit" class="btn btn-light btn-block" value="Login">
                        </div>
                        <p class="container" style="color: white;">You dont have an account? <a href="/register" style="color: rgb(0, 0, 0);"> Register</a></p>

                    </form>

                </div>

            </div>

        </div>
        <!-- empty div -->
    </div>
</div>

{% endblock %}