{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid" style="margin-top: 140px;">
    <div class="container">
      <h1 class="display-4">Sign up for a free account today</h1>
      <p class="lead">Select below the type of account you want to create</p>
      <hr class="my-2">
      <p class="lead">
          <a style=" width: 100px; height: 70px;" class="btn btn-success lg" href="{% url 'registerJobseeker' %}" role="button" disabled>
            <span class="spinner-grow spinner-grow-sm"></span>
            Jobseeker..</a>
            <a style=" width: 100px; height: 70px;" class="btn btn-success lg"href="{% url 'registerEmployer' %}" role="button" disabled>
              <span class="spinner-grow spinner-grow-sm"></span>
              Employer..</a>
      </p>
    </div>
  </div>
  
  
{% endblock %}
