{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="jumbotron mt-5" style="background-color: #BF2180;">
   {% if registered %}
        <h1>Thanks for registering, Please Log in!</h1>
    {% else %}
        <h1>Registration for Jobseekers:</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form job_seeker_form%}
            <br>
            <br>
            <input type="submit" value="Register" class="btn btn-light btn-block">
        </form>
    {% endif %}
</div>


{% endblock %}
