{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="jumbotron mt-5" style="background-color: #BF2180;">
   {% if registered %}
        <h1>Thanks for registering, Please Log in!</h1>
    {% else %}
        <h1>Registration for Employers:</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <br>
            <br>
            <input type="submit" value="Register" class="btn btn-light btn-block">
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account?
                <a href="{% url 'login' %}" class="ml-2">Sign in</a>
            </small>
        </div>
    {% endif %}
</div>


{% endblock %}
