{% extends 'admin/admin_base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-bordered">
          <tr>
            <th>First Name</th>
            <td>{{jobseeker.first_name}}</td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>{{jobseeker.last_name}}</td>
          </tr>
          <tr>
            <th>Availability</th>
            <td>{{jobseeker.availability}}</td>
          </tr>
          <tr>
            <th>Job Category</th>
            <td>{{jobseeker.job_category}}</td>
          </tr>
          <tr>
            <th>Salary Expectation</th>
            <td>Ksh {{jobseeker.salary}}</td>
          </tr>
          <tr>
            <th>Verification Status</th>
            <td>{{jobseeker.verified}}</td>
          </tr>
          <tr>
            <th>Phone No</th>
            <td>{{jobseeker.phone}}</td>
          </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}