{% extends 'admin/admin_base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="head">
        <h5 class="title">VERIFIED JOBSEEKERS</h5>
      </div>
        <table class="table table-bordered">
          <tr>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Phone No</th>
            <th>Edit</th>
            <th>View</th>
            <th>Delete</th>
          </tr>
          {% if unverified_jobseekers %}
          {% for jobseeker in unverified_jobseekers %}
          <tr>
            <td>{{jobseeker.first_name}}</td>
            <td>{{jobseeker.last_name}}</td>
            <td>{{jobseeker.phone}}</td>
            <td><a href="{% url 'update_jobseeker' jobseeker.id %}" class="btn btn-primary"><i class="fas fa-pen-nib"></i> Update</a></td>
            <td><a href="{% url 'jobseeker_details' jobseeker.id %}" class="btn btn-success"><i class="fas fa-eye"></i> View</a></td>
            <td><a href="{% url 'delete_jobseeker' jobseeker.id %}" class="btn  btn-danger"><i class="fas fa-trash-alt"></i> Delete</a></td>
          </tr>
          {% endfor %}
          {% endif %}
        </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}