{% extends 'admin/admin_base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% if messages %}
    {% for message in messages %}
    <div class="row ">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="alert text-center {{ message.tags }} alert-dismissible" role="alert" id="messages">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  {% endfor %}
{% endif %}

      <hr>

      <div class="" id="myContent">
        <form class="forms" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <label for="" class="border-bottom mb-4 text-center">Verify Jobseeker</label>
            {% bootstrap_form verify_jobseeker_form %}

          </fieldset>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}